@import "fonts.css";

:root{
    --default:#171717;
    --heading : #8EFFBB;
    --text : #FFFFFF;
    --back : #F5F9FF;
}

html{
    font-size: 18px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #171717;
    position: relative;
}


/* 
   ################################
   ################# Navbar 
   ################################  
*/

#navBar .navbar{
    height: 13vh;
}

#navBar .navbar-brand img{
    width: 8em;
}

#navBar .navbar>.container{
    /* border-bottom: 1px solid #b2b1b1; */
    padding: 20px 0;
}

#navBar .nav_links{
    width: auto;
    padding-right: 10px;
}

#navBar .nav_links a{
    padding-left: 80px; 
    text-decoration: none;
    font-family: PoppinsLight,sans-serif;
    font-weight: 400;
    font-size: 18px;
    overflow: hidden;
    white-space : nowrap;
    color: var(--text);
    opacity: 80%;
}
#navBar .nav_links a:hover{
    color: #8EFFBB;
    /* font-family:Devils,sans-serif; */
}
#navBar .nav_links a.active{
    color: #8EFFBB;
    font-family:Devils,sans-serif;
}

/* 
   ################################
   ################# Home 
   ################################  
*/

#home{
    display: flex;
    background-image: url("../images/backgroundimg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
#home .homeContent{
    position: absolute;
    top: 35vh;
}
#home .homeContent h1{
    color: var(--heading);
    font-size: 6rem;
    font-family:Zallord,sans-serif;
    margin: 1rem 0 2rem 0;
}

#home .homeContent p{
    color: var(--text);
    opacity: 0.9;
    margin: 0 auto;
    width: 75%;
    margin-bottom: 2rem;
}

#home .homeContent button{
    background-image: url("../1.png");
    border: none;
    height: 50px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#home .homeContent button:hover{
    background-image: url("../2.png");
    border: none;
    height: 50px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.scrolldown {
    --color: white;
    opacity: 0.9;
    --sizeX: 30px;
    --sizeY: 45px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin:auto;
    border: calc(var(--sizeX) / 15) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 5rem;
    background: #171717;
  }
  
  .scrolldown:before {
    content: "";
    position: absolute;
    bottom: 25px;   
    width: 10px;
    height: 10px;
    margin-left: -5px;
    background-color: var(--color);
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #ffffff66;
  }
  .scrolldown:hover:before{
    animation: scrolldown-anim 2s infinite;
  }
  
  @keyframes scrolldown-anim {
    0% {
      opacity: 0;
      height: 6px;
    }
    40% {
      opacity: 1;
      height: 10px;
    }
    80% {
      transform: translate(0, 20px);
      height: 10px;
      opacity: 0;
    }
    100% {
      height: 3px;
      opacity: 0;
    }
  }

/* 
   ################################
   ################# Who 
   ################################  
*/

#who{
    height: 100%;
    padding: 6rem 0;
}

#who .leftSection{
    text-align: center;
    justify-content: center;
    align-items: center;
}

#who .leftSection img{
    height: 75vh;
}

.heading{
    font-size: 3.5rem;
    font-family:Zallord,sans-serif;
    color: var(--heading);

    padding-bottom: 2rem;

    text-align: left;
    justify-content: center;
    align-items: center;
}

#who p{
    font-size: 1rem;
    font-family: var(--text);
    color: var(--text);

    padding-bottom: 2rem;
}

#who button{
    background-image: url("../1.png");
    border: none;
    height: 50px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#who button:hover{
    background-image: url("../2.png");
    border: none;
    height: 50px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

/* 
   ################################
   ################# Fresh 
   ################################  
*/

#fresh{
    height: 90vh;
    padding: 4rem 0;
    background-color: #1C1D20;
    clip-path: polygon(5% 0, 100% 0, 100% 75%, 95% 100%, 0 100%, 0 25%);
}
#fresh .heading{
    text-align: center;
}

#fresh .imgContainer{
    /* overflow-x: scroll;
    overflow-y: hidden; */
}
#fresh  .imgContainer .freshCard{
    background-image: url("../images/card1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 400px;
    width: 314px;

    padding: 1.6rem;
}
#fresh  .imgContainer .freshCard .cardImg{
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 25%);
    background-color: #2D2B34;
    width: 100%;
    height: 8rem;
}

#fresh  .imgContainer .freshCard h4{
    font-size: 1rem;
    color: #8EFFBB;
    font-family: Devils,sans-serif;
    
    padding: 1.6rem 0;
    margin: 0 5px;
}


#fresh  .imgContainer .freshCard p{
    font-size: 0.7rem;
    color: var(--text);
    text-align: left;
}

#fresh  .imgContainer .freshCard button{
    background-image: url("../1.png");
    border: none;
    height: 1.5rem;
    width: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#fresh  .imgContainer .freshCard button:hover{
    background-image: url("../2.png");
    border: none;
    height: 1.5rem;
    width: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

/* 
   ################################
   ################# Get In Touch
   ################################  
*/

#getInTouch{
    padding: 4rem 0;
    height: 87vh;
}

#getInTouch h1{
    font-size: 5rem;
    font-family: Zallord,sans-serif;
    color: var(--heading);

    padding-bottom: 2rem;

    text-align: center;
    justify-content: center;
    align-items: center;
}

#getInTouch img{
    height: 85%;
    width: 85%;
}

#getInTouch .contactForm .singleInputGroup{
    padding-bottom: 2rem;
}

#getInTouch .contactForm .singleInputGroup p{
    font-size: 1rem;
    color: #8EFFBB;
    font-family: Devils,sans-serif;
}

#getInTouch .contactForm .singleInputGroup .outerInputField{
    /* clip-path: polygon(5% 0, 100% 0, 100% 60%, 95% 100%, 0 100%, 0 40%); */
    position: relative;
    background: var(--heading);
	-webkit-clip-path: polygon(4% 0, 100% 0, 100% 70%, 96% 100%, 0 100%, 0 30%);
    clip-path: polygon(4% 0, 100% 0, 100% 70%, 96% 100%, 0 100%, 0 30%);
    /* background-color: #1C1D20; */
    width: 30rem;
    height: 3rem;
}

#getInTouch .contactForm .singleInputGroup .outerInputField .innerInputField{
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: #2E3240;
	-webkit-clip-path: polygon(5% 0, 100% 0, 100% 54%, 95% 100%, 0 100%, 0 46%);
    clip-path: polygon(4% 0, 100% 0, 100% 70%, 96% 100%, 0 100%, 0 30%);
}


#getInTouch .contactForm .singleInputGroup .outerInputField .innerInputField input{
    width: 90%;
    height: 80%;
    margin: 0.3rem 1.5rem;

    background-color: transparent;
    color: var(--text);
    font-size: 1rem;
    border: none;
    outline: none;
}

#getInTouch .contactForm button{
    width: 30rem;
    height: 3rem;
    background-color: var(--heading);

    clip-path: polygon(4% 0, 100% 0, 100% 70%, 96% 100%, 0 100%, 0 30%);

    border: none;
    outline: none;

    color: var(--default);
    font-size: 1rem;
    font-family: Devils,sans-serif;
}


/*
 ################################
 ################# What he do
 ################################
 */

 #whathedo{
    padding: 4rem 0;
    height: 87vh;
}
#whathedo h1{
    font-family: Zallord,sans-serif;
    padding-bottom: 2rem;
    text-align: left;
}
#whathedo .rightside{
    display: flex;
}
#whathedo .sideimages{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#whathedo .imager{
    padding-top: 2rem;
}
#whathedo .vl{
  border-left: 6px solid green;
  height: 5rem;
  margin-bottom: -5rem;
  margin-top: -2rem;
  z-index: -3;
}
#whathedo .chosen{

    height: 60%;
    width: 60%;
}
#whathedo .notchosen{
    
    height: 35%;
    width: 35%;
}

#whathedo .rightside .texter{
    margin-top: 4rem;
    margin-left: 2rem;
}
#whathedo .rightside .texter .innerhead{
    font-family: Devils,sans-serif;
    color: var(--heading);
    font-size: 2rem;
    /* margin-bottom: 0; */
    padding-bottom: 0;
}
#whathedo .rightside .texter .desc{
    /* margin-top: 0; */
    font-family: Poppins,sans-serif;
    color: var(--text);
}
#whathedo .rightside .texter button{
    background-image: url("../1.png");
    border: none;
    height: 50px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#whathedo .sider{
    height: 90%;
    width: 90%;
}

